.mui-bar-popover {
	width: 30%;
}

.mui-bar-tab {
	top: 0;
	bottom: auto;
	padding: 0px 4px;
}

.mui-tab-item div {
	display: block;
	background: #DDDDDD;
	padding: 5px;
	font-size: 0.6em;
	border-radius: 5px;
	color: #333333;
	margin: 2px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mui-bar-tab .mui-tab-item {
	width: auto;
}

.mui-bar-tab .mui-tab-item.mui-active {
	color: #333333;
}

#icontop {
	width: 31px;
	height: 31px;
	vertical-align: middle;
}

.mui-popover.mui-bar-popover .mui-table-view {
	font-size: 0.6em;
	width: auto;
}

.mui-popover.mui-bar-popover .mui-table-view.double {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	padding: 10px 0px;
	height: 300px;
	border-radius: 0px;
}

.mui-popover.mui-bar-popover .mui-table-view .mui-table-view-cell {
	text-align: center;
}

.double-cell {
	width: 80%;
	border: 1px solid #333333;
	margin: 5px 10%;
	height: 30px;
	line-height: 30px;
	color: #333333;
	text-align: center;
}

.double-cell-active {
	border: 1px solid #FF8A00;
	color: #FF8A00;
}

.mui-spinner {
	width: 18px;
	height: 18px;
	margin-right: 5px;
	color: #FF8A00;
	vertical-align: middle;
}

.mui-bar-backdrop.mui-backdrop {
	bottom: 0;
}

.mui-bar-tab~.mui-content {
	padding-bottom: 0;
	margin-top: 50px;
	margin-bottom: 30px;
}

.mui-table-view .mui-media-object {
	line-height: 84px;
	max-width: 84px;
	height: 84px;
	width: 84px;
}

.mui-table-view-chevron .mui-table-view-cell {
	padding-right: 15px;
}

.mui-media-body span {
	position: absolute;
	right: 15px;
}

.mui-media-body .mui-ellipsis {
	padding-right: 130px;
}

#mapCon {
	width: 100%;
	position: absolute;
	top: 50px;
	bottom: 0px;
	line-height: 200px;
	text-align: center;
	z-index: 99;
}

.map-control-num {
	cursor: pointer;
	border: 1px solid #FF8A00;
	height: 32px;
	line-height: 32px;
	background-color: #FFFFFF;
	color: #FF8A00;
	overflow: hidden;
	font-size: 0.8em;
	border-radius: 5px;
}

.map-control-num .left {
	display: inline-block;
	border-right: 1px solid #FF8A00;
	padding: 0px 5px 0px 5px;
}

.map-control-num .right {
	display: inline-block;
	padding: 0px 5px 0px 5px;
}

.BMap_geolocationIcon {
	background-image: url(../../img/geo.png);
}

.map-control-panel {
	line-height: 30px;
	font-size: 0.8em;
	width: 55%;
	bottom: 10px;
	color: #FFF;
	min-width: 30px;
	height: 90px;
}

.panel-left-in {
	animation: mymove 0.3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation: mymove 0.3s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
}

.panel-left-out {
	animation: mymove1 0.3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation: mymove1 0.3s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
}

@keyframes mymove {
	from {
		left: 0px;
	}
	to {
		left: calc(40px - 55%);
	}
}

@-webkit-keyframes mymove
/* Safari 和 Chrome */

{
	from {
		left: 0px;
	}
	to {
		left: -webkit-calc(40px - 55%);
	}
}

@keyframes mymove1 {
	from {
		left: calc(40px - 55%);
	}
	to {
		left: 0px;
	}
}

@-webkit-keyframes mymove1
/* Safari 和 Chrome */

{
	from {
		left: -webkit-calc(40px - 55%);
	}
	to {
		left: 0px;
	}
}

#useraddress {
	display: inline-block;
	width: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
	font-size: 0.8em;
}

.mui-popover .mui-popover-arrow.mui-bottom:after {
	background: #5BC620;
}

#popover img {
	height: 20px;
	vertical-align: top;
}

#popover div div {
	padding: 3px;
}

#popover span {
	width: 90%;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mui-navigate-right:after,
.mui-push-right:after {
	top: auto;
	color: #FFFFFF;
}

.mappop {
	position: absolute;
	top: 60px;
	width: 80%;
	left: 10%;
	background: #FF8A00;
	height: 102px;
	border-radius: 5px;
	line-height: 25px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 1px;
	font-size: .8em;
	font-weight: bold
}

.mappop .top {
	width: 100%;
	padding-left: 5px;
	padding-right: 10%;
}

.mappop .top span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mappop .bottom {
	background: #FFF;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding-left: 5px;
	font-weight: normal
}

.mappop .bottom div:first-child {
	width: 80%;
	display: inline-block;
	vertical-align: top;
}

.mappop .bottom div:nth-child(2) {
	width: 18%;
	display: inline-block;
	margin: 12px 1%;
	vertical-align: top;
	background: #FF8A00;
	text-align: center;
	color: #FFF;
}

.mappop .bottom div span {
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap
}

.mapbtnopen {
	position: absolute;
	right: 0px;
	top: 50px;
	width: 40px;
	height: 40px;
	text-align: center;
	z-index: 10;
	background: url(../../img/ex1.png);
	background-size: contain;
}

.mapbtnclose {
	position: absolute;
	right: 0px;
	top: 50px;
	width: 40px;
	height: 40px;
	text-align: center;
	z-index: 10;
	background: url(../../img/ex2.png);
	background-size: contain;
}

.tag{
    margin: 0px 0px 0px 2px;
    border: 1px solid;
    line-height: 19px;
    height: 19px;
    display: inline-block;
    font-size: 12px;
    padding: 0px 2px;
    font-style: normal;
    font-weight: normal;
}

/**
 * TOP_STORE
 */
.tag.topstore{
	border-color:#679ffc;
	color:#679ffc;
}

.tag.topstore:after{
	content: 'TOP';
}

/**
 * AG_FLAG
 */
.tag.ag{
	border-color:#f272af;
	color:#f272af;
}

.tag.ag:after{
	content: 'AG';
}

/**
 * ISA_FLAG
 */
.tag.isa{
	border-color:#f272af;
	color:#f272af;
}

.tag.isa:after{
	content: 'ISA';
}

/**
 * PS
 */
.tag.ps{
	border-color:#ff8a00;
	color:#ff8a00;
}

.tag.ps:after{
	content: 'PS';
}

/**
 * TAG1动态
 */
.tag.tag1{
	border-color:#c48cfd;
	color:#c48cfd;
}

/**
 * STATUS
 */
.tag.status{
	border-color:#ff2323;
	color:#ff2323;
}

/**
 * CHANNEL_CODE
 */
.tag.channel{
	border-color:#fed46c;
	color:#fed46c;
}

/**
 * TAG6
 */
.tag.tag6{
	border-color:#5ee8d8;
	color:#5ee8d8;
}

/**
 * TAG5
 */
.tag.tag5{
	border-color:#23a4ff;
	color:#23a4ff;
}

/**
 * TAG4
 */
.tag.tag4{
	border-color:#64e85a;
	color:#64e85a;
}

.mui-media-body{
	color: #FF8A00;text-overflow: ellipsis;white-space: nowrap;
}

.mui-media-body.address{
	font-weight: bolder;color: #333;font-size: .8em;
}

.tagspanel{
	background:#FFF;
}

.pic_pinglun{
	height:12px;vertical-align:middle;margin-left:5px
}

.pic_dingwei{
	height:12px;vertical-align:middle;
}

.lastline{
	display:inline-block;font-size: 0.8em;
}

.maptagpanel{
    color: #333;
    font-weight: bold;
    line-height: 26px;
    font-size: 0.8em;
}

.maptag{
    color: #FFF;
    height: 26px;
    display: inline-block;
    margin: 2px 5px 2px 2px;
    border-radius: 5px;
    padding: 0px 2px;
    width: 26px;
    text-align: center;
}

.maptag.red{
	 background: #FF0000;
}
.maptag.yellow{
	 background: #E3B935;
}
.maptag.green{
	 background: #68AF2D;
}
.maptag.green.csscn{
}
.maptag.green.cssen{
	line-height: 13px;
}
